* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
    color: white;
    background-color: white;
}

.main {
    background: #000;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.mainTitle {
    width: 100%;
	color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 90px;
	font-weight: bold;
	background-image: url('./img/crb-3-nr.jpg');
	background-size: cover;
	background-position-y: 700px;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
